@import '../../index.scss';

.diagram {
    @include size(calc(100% - 16px), 130px);
    @include textProperties(600, 12px, 16px);
    max-width: 600px;
    color: $black-primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 900px) {
        @include size(300px, 135px);
        @include textProperties(600, 16px, 24px);
    }

    @media (min-width: 1100px) {
        @include size(392px, 160px);
        justify-content: flex-start;
        gap: 25px;
    }
}
