@import '../../index.scss';

.btn {
    @include size(168px, 56px);
    @include borderRadius(4px);
    @include textProperties(800, 16px, 24px);
    background: $red;
    border: none;
    cursor: pointer;
    color: #fff;

    &:hover {
        background: $red-hover;
    }
}
