@import '../../index.scss';

.card {
    @include size(304px, 478px);
    @include borderRadius(8px);
    @include boxShadow(
        0px 2px 1px -1px rgba(0, 0, 0, 0.02) 0px 1px 1px rgba(0, 0, 0, 0.14) 0px 1px 3px rgba(0, 0, 0, 0.12)
    );
    border: 1px solid $grey;
    color: $black-primary;
    padding: 16px;

    &__title {
        @include size(272px, 28px);
        @include textProperties(800, 20px, 28px);
        text-align: center;
    }

    &__img {
        margin-top: 16px;
    }
}
