@import '../../index.scss';

.statistics {
    @include size(100%, 384px);
    background: #fff;
    padding: 24px 8px 0 8px;

    @media (min-width: 900px) {
        height: 446px;
        padding: 0;
        padding-bottom: 127px;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
    }

    @media (min-width: 1200px) {
        padding: 0 5% 127px 107px;
        justify-content: space-between;
        gap: 30px;
    }

    &__logo {
        @media (min-width: 900px) {
            @include size(80px, 70px);
        }
    }

    &__info {
        @include size(calc(100% - 16px), 172px);
        margin-bottom: 44px;

        @media (min-width: 900px) {
            @include size(560px, 216px);
            margin: 0;
        }

        @media (min-width: 1100px) {
            @include size(650px, 246px);
        }

        & p {
            @include size(304px, 100px);
            @include textProperties(800, 14px, 20px);
            color: $black-primary;
            margin-top: 10px;

            @media (min-width: 900px) {
                @include textProperties(800, 20px, 32px);
                @include size(100%, 130px);
            }

            @media (min-width: 1100px) {
                @include textProperties(800, 24px, 40px);
                @include size(100%, 160px);
            }

            .green {
                color: $green;
            }

            .yellow {
                color: $yellow;
            }
        }
    }
}